body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
}

header {
    height: 300px;
    background-image: url(../images/mink-mingle-pug-unsplash-small.jpg);
    background-position: center;
    background-size: cover;
}

#headerShadow {
    height: 100%;
    background-color: #00000062;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color:#4e839c
}

h1 {
    font-size: 5rem;
    margin-left: 20px;
    color: #FFF;
    font-family: 'Lilita One', sans-serif;
    text-shadow: 2px 2px 2px #0089fa;
}

.container {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Caveat', sans-serif;
}


.section-title {
    margin-top: 20px;
    font-size: 3rem;
    text-decoration: underline #00c3ff;
    text-decoration-thickness: 5px;
}

.pug-pictures {
    margin-top: 25px;
    border-radius: 5px;
    border: 3px solid #e6e6e6;
}

.pug-pictures img {
    width: 100%;
}

.pug-pictures figcaption {
    padding: 15px;
    color: #7a7a7a;
    font-family: 'Lilita One', sans-serif;
    text-align: center;
}

@media(min-width: 768px) {
    h1 {
        font-size: 8rem;
    }

    #pictures {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .pug-pictures {
        width: 45%;
    }

}

@media(min-width: 1200px) {
    .container {
        padding-bottom: 20px;
        width: 60%;
        margin: auto;
    }
}