body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
}

header {
    height: 300px;
    background-image: url(../images/mink-mingle-pug-unsplash-small.jpg);
    background-position: center;
    background-size: cover;
}

#headerShadow {
    height: 100%;
    background-color: #00000062;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color:#4e839c
}

h1 {
    font-size: 4rem;
    margin-left: 20px;
    color: #FFF;
    font-family: 'Lilita One', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Caveat', sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    font-size: 2rem;
    padding: 10px;
}

.section-title {
    font-size: 2rem;
}

.pug-pictures {
    margin-top: 25px;
    border-radius: 5px;
    border: 3px solid #c7c7c7;
}

.pug-pictures img {
    width: 100%;
}

.pug-pictures figcaption {
    padding: 15px;
    color: #7a7a7a;
    font-family: 'Lilita One', sans-serif;
}